.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.blog-goBack {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}
.blog-wrap header {
  text-align: center;
}
.banner_searchbutton{
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #f26716  !important;
  font-size: 25px;
}

.blog-date {
  font-size: 20px !important;  ;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 50%;
  padding: 10rem;
  margin-top: -10rem;
}
.testcoachname {
  padding: 10rem;
  margin-top: -20rem;
}
.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  margin-top: -120px !important;
}
.blog-wrap header span {
  font-size: 1rem ;
  background-color: #97ffff;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right:18rem;

}
.blog-wrap footer {
  margin-left:18rem;

  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CSS */
.button-33 {
  margin-left:18rem;

  background-color: #f26716;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-22{
  margin-left:0rem;

  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.teststars {
  margin-top: -40rem; 
  margin-left: 60rem;   

  display: inline-block;
}
.wew{
  color: #f26716;
}
.calendartest{
  margin-top: -90%; 
  margin-left: -90rem;
  display: flex;
  justify-content: center;
}
.yo {
  color: red;
}

/* .blogItem-cover2 {
  width: 200%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
} */