.blogItem-wrap {
  display: flex;
  flex-direction: column;
}
.blogItem-cover3 {
  width: 50%;
  border-radius: 15px;
  height: 170px;
  object-fit: cover;
}
.blogItem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
}
.orders-heading,
.orders-total {
  width: 100%;
  max-width: 600px;
}
.blogItem-desc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.blogItem-link {
  text-decoration: none;
  color: inherit;
}

.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}
.h5test{
  color: blueviolet;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');/* Bottom left text */
.ribbon {
  /* width: 150px;
  height: 150px; */
  overflow: hidden;
  position: relative;
}

.corner-ribbon2{
  width: 90px;
  background: #e43;
  position: absolute;
  top: 100px;
  left: -20px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon2.sticky{
  position: absolute;
}

.corner-ribbon2.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon2.top-left{
  top: auto;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon2.red{background: #e43;}
