.project-card{
    /* background-color: red; */
    width: 500px;
    margin-top: 40px;
    position: relative;
}
.coach-card{
    width: 500px;
    margin-top: 40px;
    position: relative;
    float: left;
}